@using System.ComponentModel.DataAnnotations
@using Core.Extensions
@using Core.Model
@using X.PagedList.Mvc;
@model X.PagedList.PagedList<Core.Model.PlanVersionHeaderDAO>

@{
    ViewBag.Title = "Список версий плана ТО";
}

    <h4>Список версий плана ТО</h4>

<div style="overflow-x:auto;">
    <table class="table table-bordered table-hover">
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ApprovedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedBy)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(linkText: item.ID.ToString(), actionName: "WorkPackagePlanReport",  controllerName: "Reports", routeValues: new {dateStartTO = item.DateFrom.ToShortDateString(), dateEndTO = item.DateTo.ToShortDateString(), 
                        acType= ACType.All, typeReport = TypeReport.Plan, planVersion = item.ID}, htmlAttributes: null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.GetAttributeOfType<DisplayAttribute>().Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedBy)
                </td>
                <td>
                    @if (item.ApprovedDate != DateTime.MinValue)
                    {
                        @Html.DisplayFor(modelItem => item.ApprovedDate)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
            </tr>
        }

    </table>
</div>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", "WorkPackagePlanVersion", new { page }))